<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Alibazon</title>
</head>

<body>
  <div class="header">
    <nav class="container">
      <div class="logo-section">
        <div class="logo">
          <a href="/">Alibazon</a>
        </div>
        <div class="header-btns">
          <a class="toggle" href="javascript:void(0);"><img src="/images/bar.svg" alt="" /></a>
        </div>
      </div>
      <div class="menu-section">
        <div class="menu">
          <ul>
            <% if(typeof roots !== 'undefined'){ %>
            <% for(let i=0; i<roots.length; i++) { %>
            <li><a href="/categories/<%= roots[i].id %>"><%= roots[i].name %></a></li>
            <% } %>
            <% } %>
          </ul>
        </div>
        <form action="/search" method="post" class="search">
          <input type="text" name="search" placeholder="Search for products" required pattern=".*\S+.*" title="This field is required">
          <button type="submit" class="btn btn-search">
            <span class="material-symbols-outlined">
              search
            </span>
          </button>
        </form>
        <div class="menu">
          <ul>
            <% if(userIN) { %>
            <li><a href="/wishlist"><span class="material-symbols-outlined">
                  favorite
                </span></a></li>
            <li><a href="/cart"><span class="material-symbols-outlined">
                  shopping_cart
                </span></a></li>
            <li><a href="/auth/profile"><span class="material-symbols-outlined">
                  account_circle_full
                </span></a></li>
            <li><a href="/order"><span class="material-symbols-outlined">
                  receipt_long
                </span></a></li>
            <li><a href="/auth/logout"><span class="material-symbols-outlined">
                  logout
                </span></a></li>
            <% } %>
            <% if(!userIN) { %>
            <li><a href="/login"><span class="material-symbols-outlined">
                  login
                </span></a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </div>