<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Alibazon</title>
</head>
<body>
  <div class="header">
    <nav class="container">
      <div class="logo-section">
        <div class="logo">
          <a href="/">Alibazon</a>
        </div>
        <div class="header-btns">
          <a class="toggle" href="javascript:void(0);"><img src="/images/bar.svg" alt="" /></a>
        </div>
      </div>
      <div class="menu-section">
        <div class="menu">
          <ul>
            <% if(typeof roots !== 'undefined'){ %>
              <% for(let i=0; i<roots.length; i++) { %>
              <li><a href="/categories/<%= roots[i].id %>"><%= roots[i].name %></a></li>
              <% } %>
              <% } %>
              <li><a href="/login"></i>Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>