<%- include('partials/_header')-%>
<div class="container">
  <div class="img-container">
    <img class="img-container" src="/images/404.png" alt="">
  </div>
</div>
<%- include('partials/_footer')-%>