<%- include('partials/_header')-%>
<div class="enter-wrapper">
  <div class="enter-box">
    <div class="enter-formbox">
      <% if(typeof error !== 'undefined'){ %>
      <br>
      <h3 style="text-align:center;"><%= error %></h3>
      <% } %>
      <% if(typeof successMessages !== 'undefined'){ %>
      <h3 style="color: green;"> <%= successMessages %></h1>
        <% } %>
        <form method="POST" action="/auth/login">
          <div>
            <label for="email"> Email</label>
            <input type="email" name="email" class="input-email" required />
          </div>
          <div>
            <label for="password"> Password</label>
            <input type="password" name="password" class="input-password" required />
          </div>
          <div>
            <input type="submit" value="Login to account" class="btn btn-enter" required />
          </div>
        </form>
        <div class="enter-switch">
          Don't have an account? <a href="/register">Sign Up</a>
        </div>
    </div>
    <div class="enter-quotebox">
      <div class="quote-container">
        <div class="quote">THE BEST WAY TO SHOP</div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/_footer')-%>