<%- include('partials/_header')-%>
<div class="enter-wrapper">
  <div class="enter-box">
    <div class="enter-formbox">
      <% if(typeof error !== 'undefined'){ %>
      <br />
      <h3 style="text-align: center"><%= error %></h3>
      <% } %>
      <form method="POST" action="/auth/register">
        <div>
          <label for="name"> Name</label>
          <input type="text" name="name" class="input-username" required />
        </div>
        <div>
          <label for="email"> Email</label>
          <input type="email" name="email" class="input-email" required />
        </div>
        <div>
          <label for="password"> Password</label>
          <input type="password" name="password" class="input-password" required />
        </div>
        <div>
          <input type="submit" value="Create an account" class="btn btn-enter" />
        </div>
      </form>
      <div class="enter-switch">
        <a href="/login">I am already member.</a>
      </div>
    </div>
    <div class="enter-quotebox">
      <div class="quote-container">
        <div class="quote">THE BEST WAY TO SHOP</div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/_footer')-%>